  .e-list {
    color: #95999a;
    font-size: 12px;

    &:nth-child(odd){
      background-color: #ffffff;
    }
  }

  .e-date {
    text-align: center;
    background-color: #ffffff;
    div:nth-child(2) {
      line-height: 12px;
      font-size: 15px;
    }
    div:nth-child(3) {
      line-height: 12px;
      font-size: 8px;
    }
  }