  .Dash {
    .e-row {
      display: flex;
      div:nth-child(1) {
        flex: 1;
      }
      div:nth-child(2) {
        flex: 2;
      }
      div:nth-child(3) {
        flex: 2;
      }
      div:nth-child(4) {
        flex: 2;
      }
      div:nth-child(5) {
        flex: 2;
      }
    }
  }
  .e-line-left {
    width: 185px;
    display: flex;
    &:after {
      content: "";
      flex: 1;
      height: 15px;
      border-bottom: 2px solid #e4e7e7;
      margin-left: 10px;
    }
  }
  .e-label:before {
    left:-5px;
    top:5px;
    position: relative;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
  }

  .Dash > div > div {
    margin: 0 auto;
  }

  button {
    margin: 0 5px;
  }
  .e-details {
    background-color: #ffffff;
    &:after {
      left:11px;
      top:5px;
      position: relative;
      background-size: 20px 20px;
      display: inline-block;
      width: 20px; 
      height: 20px;
      content:"";
      background-image: url(./images/arrow_green.png);
    }
  }
