// Override default variables before the import
$body-bg: #f5f9f9;
$blue: #5cc0df;
$gray-600: #f4f5f6;
$green: #24d3a7;
$cyan: #00d8ff;
$gray-100: #b9bdbd;
$red: #f66b3e;
$yellow: #eba800;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';